body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: linear-gradient(to right, #bf8ed9, #f0f0f0);
  animation: gradientAnimation 15s ease infinite alternate;
  overflow-y: scroll;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 60px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none; /* Pas de sous-lignes pour les liens */
  color: #571156;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px 20px;
}

.banner {
  color: #11144e;
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
  margin-right: 20px;
  text-decoration: none; /* Pas de sous-lignes */
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
  flex-grow: 1;
  text-decoration: none; /* Pas de sous-lignes */
}

button {
  background-color: #164374;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #004080;
}

.sal {
  font-size: 115%;
  font-weight: bold;
  text-decoration: none; /* Pas de sous-lignes pour "Salford & Co" */
}

.menu-icon {
  color: #571156; /* Couleur mauve */
  font-size: 29px;
  margin-right: 20px;
}

input {
  padding: 3px;  /* Espace intérieur de 3 pixels */
  width: 130%;   /* Largeur de 130% par rapport au conteneur parent */
  border: 1px solid #ccc;  /* Bordure grise */
  border-radius: 10px;   /* Coins arrondis */
  font-size: 16px;      /* Taille de la police */
}


.produits {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.manipulateur-produits {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.produits-grille-produit {
  width: 300px;
  min-height: 300px;
  flex-direction: column;
}

.meilleur-vente {
  position: relative;
}

.texte-meilleur-vente {
  position: absolute;
  right: -25%;
  top: 10%;
  width: 150px;
  height: 150px;
  color: #211260;
  background: #211260;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.manipulateur-image-produit {
  overflow: hidden;
  background: #fcc9bb;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: 0.1em solid #0c0c0c;
}

.manipulateur-image-produit img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.sec {
  background-color: #efecf3;
  border-radius: 130px;
}

.toner {
  background-color: #e4bb85;
}

.boutons-grille-produits {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boutons-grille-produits button {
  width: 300px;
}

.milieu {
  width: 280px;
}
.grille-produits {
  display: flex; 
  justify-content: space-between;
  margin: 40px; 
}

.produit-grille {
  flex: 1; 
  margin:40px

}




